
body {
  background-color:white;
  color: rgba(255, 255, 255, 0.6);
  margin:0px;
  font-family: monospace;
}

.top-buttons {
  color: White;
  border: hidden;
  background-color: #5F5F5F;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.8em;
}

.top-buttons:hover {
  color: #77faff;
  
  background-color:white;
  border: solid rgba(255, 255, 255, 0.4) 5px;
  transition-duration: 0.4s;
}

.button-links {}

#header {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 2px;
  border: solid 5px rgba(255, 255, 255, 0.04);
  
  
}
#home-link {
  text-decoration: none;
}

#company-name {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(135, 206, 235, 0.4);
  
  margin-left: 1em;
  color: rgb(255, 255, 255);
  font-family: "times new roman";
}

#everything-except-h-and-f {
  color:black;
  font: normal normal 15px sans-serif;
  border: solid 1px black;
}


#footer {}