body {
  
}

.top-buttons {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
}

.top-buttons:hover {
  
}

.button-links {
  
}

#header {
  background-color: black;
  
  border: solid 5px rgba(0, 200, 200, 1);
  
  min-height: 3em !important;
}

#logo {
  width: 5%;
  min-width: 5em !important;
  height: auto;
}

#home-link {
  
}

#company-name {
  color: white;
}

#everything-except-h-and-f {
  
}

#footer {}