body {
  
}

.top-buttons {
  
  
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  
}

.top-buttons:hover {
  transition-duration: 0.125s;
  
  color: rgb(34, 144, 207);
}

.button-links {
  text-decoration: none;
}

#header {
  background-color: black;
  
  width: 100%;
  
  border: solid 2px rgba(0, 200, 200, 0.5);
  
  
  min-height: 5em !important;
}

#logo {
  width: 10%;
  min-width: 5em !important;
  height: auto;
}

#home-link {
  
}

#company-name {
  color: white;
}

#everything-except-h-and-f {
  
}

#footer {}

#bg-image{
  
}