h3 {
  text-align: center;
  
  padding-top: 0.25em;
  padding-bottom: 0.75em;
}

hr {
  
}

textarea {
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 2%;
}

#everything-except-h-and-f {
  
}

#contact-form {
  margin-top: 5%;
  
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  
  
}

#first-name {
  margin-left: 6%;
}

#email {
  margin-left: 6%;
}

#submit {
  display: block;
  
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}